# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# bower dependency directory (https://bower.io/)
bower_components

# dependency directories
node_modules/
jspm_packages/

# typescript v1 declaration files
typings/

# typescript cache
*.tsbuildinfo

# optional npm cache directory
.npm

# parcel-bundler cache (https://parceljs.org/)
.cache